[Desktop Entry]
Type=Application
Name=NovaOS Welcome
GenericName=Welcome
Comment=Open the NovaOS welcome screen
Exec=/usr/bin/novaos-welcome
Icon=/usr/share/novaos/icons/novaos-logo.svg
Terminal=false
Categories=NovaOS;System;Education;
Keywords=welcome;tour;help;intro;
StartupNotify=true
